
  /* label color */
  .input-field label {
    color: rgb(255, 254, 254) !important;
  }
  
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #b515ff !important;
    box-shadow: 0 1px 0 0 #a923f7 !important;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #b467fc !important;
    box-shadow: 0 1px 0 0 rgb(163, 72, 238);
  }
  
  
  .validate {
      color : #f5f5f5 !important
  }

  .mar1 {
    margin-bottom: 40px;
  }

  .mar {
    margin-bottom: 90px;
  }

  .mar2 {
    margin-top: 50px;
  }

  .center {
    margin-left: 120px;
    margin-top: 10px;
  }